.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}

.nav-link {
    display: flex;
    justify-content: ;
    align-items: center;
    gap: 20px;
}


ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

a i {
    width: 19px;
    height: 19px;

    padding-top: 8px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}


/** main section start */
.start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    margin: 50px auto;

}

.start-image {
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    height: 475px;
    width: 475px;
}

.main-image {
    position: relative;
    height: 414px;
    width: 440px;
    top: 25px;
    left: 20px;
    right: 25px;
    bottom: 30px;

}

.journey-title {
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;

}

.journey-description {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.btn-preebook {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 41px;
    border: none;
    height: 44px;
    width: 196px;
    text-align: center;

}

/* e-commerce logo */
.e-commerce-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 10px auto;
}

.logo {
    height: 40px;
    width: 84px;


}


/* popular collection */
.popular-collection
{
    text-align: center;
    width: 1200px;
    margin: 60px auto;
}
.collection-title
{
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
.carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
     justify-items: center;
}


.cart {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    height: 476px;
    max-width: 329px;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
    


}

.cart-image {
    height: 256px;
    width: 100%;
    height: auto;
}

.image-title {
    font-size: 28px;
    font-weight: 600;
    color: rgb(24, 25, 31);
}

.price {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.ratings i {
    color: rgb(251, 130, 0);
}

.value {
    color: rgb(94, 99, 102);
    font-weight: 700;
    padding: 5px 13px;
}

.description {
    color: rgb(94, 99, 102);
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}
.ratings
{
    padding-top:20px;
}

/*Featured product */
.featured-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 1200px;
    margin: 10px auto;
}
.featured-image
{
    height: 270px;
    width: auto;
    border-radius: 5px;
}
.featured-title
{
  color: #0A0826;
  font-size: 38px;
  font-weight: bold;
}
.featured-description
{
 color: #6C6C6C;
 font-size: 16px;
 font-weight: bold;

 
}
.btn-featured
{
    background-color: #E02C6D;
    color:#FFFFFF;
    padding:12px;
    border-radius:10px;
    border: none;
    height: 44px;
    width: 155px;
    

}
